[defaults]
host_key_checking = False
inventory = inventory/hosts.ini
remote_user = ubuntu
become = True
become_method = sudo
timeout = 30
gathering = smart
fact_caching = memory
stdout_callback = default
callback_whitelist = profile_tasks
callback_result_format = yaml
roles_path = ./roles:./roles # This is added to ensure that Ansible can find roles in the current directory and the roles directory.

[ssh_connection]
pipelining = True
control_path = /tmp/ansible-%%r-%%h-%%p
retries = 3